<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
  <script src="./lib/vue-resource-1.3.4.js"></script>
  <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
  <div id="app">



    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加品牌</h3>
      </div>
      <div class="panel-body form-inline">

        <label>
          Name:
          <input type="text" v-model="name" class="form-control">
        </label>

        <input type="button" value="添加" @click="add" class="btn btn-primary">
      </div>
    </div>



    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in list" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.ctime}}</td>
          <td>
            <a href="" @click.prevent="del(item.id)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <script>
      Vue.http.options.root='http://www.lovegf.cn:8899/'
      Vue.http.options.emulateJSON = true;
      var vm = new Vue({
          el:'#app',
          data:{
              name:'',
              list:[]
          },
          created(){
              this.getAllList()
          },
          methods:{
              add(){
         
            this.$http.post('api/addproduct', { name: this.name }).then(result => {
            if (result.body.status === 0) {
              // 成功了！
              // 添加完成后，只需要手动，再调用一下 getAllList 就能刷新品牌列表了
              this.getAllList()
              // 清空 name 
              this.name = ''
            } else {
              // 失败了
              alert('添加失败！')
            }
          })
        },
        del(id){
            this.$http.get('api/delproduct/+id').then(result =>{
                if(result.body.status===0){
                    // console.log('ok')
                    this.getAllList()
                }else{
                    alert('删除失败')
                }
            })

        },
              getAllList(){
                  this.$http.get('api/getprodlist').then(result =>{
                    
                      if(result.body.status===0){
                        //  console.log('ok')
                          this.list=result.body.message
                      }else{
                          alert('获取数据失败')
                      }
                  })
              }
          }
      })
  </script>
</body>

</html>